
<div class="panel panel-primary">
    <div class="panel-heading">
      <br>
      <h2 style="text-align:center">Customer List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped" text-align>
        <thead>
          <tr style="text-align:center">
            <th>Customer ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Aadhar Number</th>
            <th>Gender</th>
            <th>Current Balance</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
         
          <tr *ngFor="let customer of customer" style="background-color:rgb(255, 170, 121)">
                  <td style="text-align:center">{{customer.customerCode}}</td> 
                  <td style="text-align:center">{{customer.customerName}}</td>
                  <td style="text-align:center">{{customer.phoneNumber}}</td>
                  <td style="text-align:center">{{customer.emailId}}</td>
                  <td style="text-align:center">{{customer.aadharNumber}}</td>
                  <td style="text-align:center">{{customer.gender}}</td>
                  <td style="text-align:center">{{customer.currentBalance}}</td>
                  <td style="text-align:center">
                    <a [routerLink]="['/Pages/viewcustomer', customer.id]">
                      <img style="height: 35px;width:35px;" src="../assets/Images/eye.png" >
                    </a> &nbsp; &nbsp; 
                    <img style="height: 35px;width: 35px;" src="../assets/Images/edit.png"> &nbsp; &nbsp; 
                    <img style="height: 35px;width:35px;" src="../assets/Images/red-bin.png">  </td>
              </tr>
           <tr>  
          </tr>

        </tbody>
      </table>
    </div>
  </div>